{% load static %}


                  {% for box in boxes %}
          <div class="row mt-6">
            <div class="col-md-12 col-12">
              <!-- card  -->
              <div class="card">
                <!-- card header  -->
                <div class="card-header bg-white border-bottom-0 py-4">
                  <h4 class="mb-0">{{box.name}}</h4>
                </div>
                <!-- table  -->
                <div class="table-responsive">
                  <table class="table text-nowrap mb-0">
                    <thead class="table-light">
                      <tr>
                        <th>Link</th>
                        <th>Description</th>
                      </tr>
                    </thead>
                    <tbody>

                  {% for server in box.server_set.all %}
                      <tr>
                        <td class="align-middle">
                          <div class="d-flex align-items-center">
                            <div class="ms-3 lh-1">
                                <h5 class="fw-bold mb-1">
                                    <a href="{{ server.url }}" target="_blank">{{ server.url }}</a>
                                </h5>
                            </div>
                          </div>
                        </td>
                        <td id="pk_{{server.id}}" class="align-middle">{{ server.description }}</td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>
                <!-- card footer  -->
              </div>

            </div>
          </div>
                    {% endfor %}